.text {
line-height: 2em;
}

#bordered {
border:1px solid Blue
}

#buttonblock {
display: block;
width: 800px;
margin-left: auto;
margin-right: auto;
}

#first{
display: block;
margin-left: auto;
margin-right: auto;
}

#second{
display: block;
margin-left: auto;
margin-right: auto;
}
